.spacer {
    height:25%;
    border: solid rgb(0, 0, 0) 1px
    }
.footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1280px;
}
.footer-logo {
    display: flex;
    align-items: center;
}
  
.footer-icon {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
}
  
.footer-text {
    margin: 0px 15px;
    cursor: default;
    user-select: none;
}
  
.footer-item {
    color: white;
    text-decoration: none;
    margin: 5px 0px;
    padding: 5px 10px 5px 0px;
}
  
.links {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 20px 0px;
    border-left: solid white 1px;
    padding: 0px 50px;
}
  
.footer-item:hover {
    background: rgb(0, 0, 0);
}
.oto{
    margin: 0px;
    padding: 0px;
}
  
